:root {
    --color-primary: rgba(255, 255, 255, 1);
    --color-secondary: rgba(0, 0, 0, 1);
}

body {
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

    max-width: 1440px;
   
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 50px 15px;
   
    max-width: 1150px;

    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0 auto;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 700;

    margin: 0 auto;
}

h2, h3, h3, h4, h5 ,h6 {
    font-weight: 400;

    margin: 0 auto;
}

img {
    max-width: 100%;
}

.btn {
    font-weight: 700;
    font-size: 18px;

    border-radius: 100px;
    box-sizing: border-box;

    padding: 12px 30px;
}

header a {
    color: var(--color-secondary);

    font-size: 16px;
}

.header .container {
    margin: 0 auto;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;
}

.header__list {
    display: flex;
    flex-direction: row;

    gap: 22px;
}

.header .btn {
    padding: 14px 26px;
}

.btn__login {
    border: 1px solid var(--color-secondary);

    width: 100px;
    height: 50px;
}

.btn__talk {
    width: 200px;
    height: 50px;

    color: var(--color-primary);

    background: var(--color-secondary);
}

.welcome .container {
    display: flex;
    flex-direction: row-reverse;
   
    gap: 48px;
}

.welcome__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.welcome__text {
    max-width: 480px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.welcome__title {
    font-size: 68px;
    line-height: 82px;
}

.welcome__desc {
    font-size: 20px;
    line-height: 30px;

    margin-top: 26px;
}

.welcome__subtitle {
    font-weight: 700;

    margin: 0;
}

.welcome__btn {
    width: 162px;
    height: 60px;

    font-size: 22px;

    background: var(--color-secondary);
    color: var(--color-primary);

    padding: 18px 30px;
}

.sale .container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.sale__img {
    width: 480px;
    height: 280px;
}

.sale__text {
    width: 500px;
}

.sale__title {
    font-size: 56px;
    line-height: 58px;
}

.sale__desc {
    font-size: 20px;
    line-height: 30px;

    margin-top: 30px;
}

.switch .container {
    display: flex;
    flex-direction: column;
}

.switch__title  {
    font-weight: 700;
    font-size: 58px;

    margin: 0;
}

.switch__content {
    display: flex;
    flex-direction: row;

    max-width: 1036px;

    gap: 54px;

    padding: 50px 0;
}

.switch__content a {
    text-decoration:underline;
    opacity: 0.6;
}

.switch__text {
    max-width: 314px;
}

.switch img {
    width: 200px;
    height: 150px;
}

.switch p {
    max-width: 308px;

    line-height: 24px;

    margin-top: 10px;
}

.switch__btn {
    width: 240px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(247, 178, 183, 1);
    color: var(--color-secondary);
}

.plans {
    background-color: rgba(253, 236, 237, 1);

    margin: 50px 0;
}

.plans__title {
    font-size: 58px;
    font-weight: 400;
}

.plans__content {
    display: flex;
    flex-direction: row;

    padding: 80px 115px 72px 0;
    
    gap: 54px;
}

.palns__img {
    width: 310px;
    height: 174px;
}

.plans__title-text {
    font-size: 28px;

    margin-top: 24px;
}

.plans__desc {
    line-height: 24px;

    margin-top: 10px;

    max-width: 304px;
}

.companies .container {
    display: flex;
    flex-direction: row;

    gap: 60px;
}

.companies__title {
    width: 236px;

    font-size: 28px;
    line-height: 36px;
}

.companies__content {
    max-width: 700px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.explore .container {
    display: flex;
    justify-content: space-between;
}

.explore__content {
    width: 564px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explore__title {
    font-size: 58px;

    margin: 0;
}

.explore__subtitle {
    font-size: 20px;

    line-height: 30px;

    padding: 20px 0;
}

.explore__btn {
    width: 142px;
    height: 48px;

    background: rgba(247, 178, 183, 1);
    color: var(--color-secondary);
}

.explore__img {
    width: 482px;
    height: 450px;
}

.simple {
    padding: 50px 0;
}

.simple .container {
    background: rgba(139, 212, 214, 1);

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    border: none;
    border-radius: 10px;

    padding: 80px 0;
    
    gap: 10px;
}

.simpe__title {
    font-size: 46px;

    margin-bottom: 18px;
}

.simple__desc {
    font-size: 20px;
}

.simple__btn {
    width: 160px;
    height: 50px;

    background: var(--color-secondary);
    color: var(--color-primary);
}

footer {
    margin: 0 auto;
}

.footer__base {
    background: rgba(48, 46, 63, 1);
}

.footer a {
    color: rgba(197, 233, 234, 1);
}

.footer h1 {
    color: var(--color-primary);
}

.footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 38px;
}

.footer__logotype {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__logo-text {
    margin-left: 18px;
}

.nav__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0;
    margin: 0;
}

.nav__title-text {
    display: flex;
    flex-direction: column;
    
    font-weight: 700;

    color: var(--color-primary);
}

.nav__title-text__active {
    font-weight: 400;
}

.nav__title__desc {
    padding: 0 ;
    
    font-weight: 400;

    margin-top: 14px;   
}

.nav__title__desc li {
    margin-bottom: 8px;
}

.footer__contacts-title {
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 14px;

    color: var(--color-primary);
}

.footer__contacts p {
    margin-bottom: 10px;
}

.footer__service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__service-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    gap: 28px;
}

.footer__service-text p {
    min-width: 220px ;
}

.logo__image {
    width: 70px;
    height: 70px;
    
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .footer__service {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        gap: 40px;
    }

    .footer__service-text {
        text-align: center;
    }
}

@media (max-width: 1050px) {
    .welcome__img {
        width: 450px;
        height: 300px;
    }

    .sale__img {
        width: 380px;
        height: 200px;
    }

    .companies .container {
        width: 600px;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 20px;
    }

    .footer .container {
        align-items: center;
        flex-direction: column;
    }

    .nav__title {
        max-height: 500px;
        max-width: 700px;

        flex-direction: column;
        align-items: flex-start;
        
        gap: 40px;
    }
}

@media (max-width: 900px) {
    .sale .container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .switch .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plans {
        padding: 15px 0;
    }

    .plans__title {
        text-align: center;
     
        justify-content: center;
    }

    .plans__content {
        flex-direction: column;
        align-items: center;

        padding: 0 ;
    }

    .plans__desc {
        margin: 10px 0 0;
    }
    .explore .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;

        gap: 20px;
    }

    .explore__img {
        margin: 0 auto;
    }

    .explore__content {
        margin: 0 auto;
        width: 100%;

        flex-wrap: wrap;
        align-items: center;
    }
}

@media (max-width: 750px) {
    .welcome .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .welcome__text {
        align-items: center;
    }

    .welcome__subtitle {
        padding: 30px;
    }
    .switch__content {
        flex-direction: column;
    }

    .simple .container {
        text-align: center;
    }

    .footer__service-text {
        flex-direction: column;

        gap: 10px;
    }
}

@media (max-width: 600px) {
    .header__content {
        flex-direction: column;
    }

    .header__list {
        flex-direction: column;
        text-align: center;

        padding: 0;
    }

    .sale .container {
        gap: 30px;
    }

    .switch {
        padding: 0;
    }

    .companies__content {
        max-height: 800px;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0;
    }

    .companies .container {
        margin: 0;
    }

    .companies__title {
        margin: 20px;
    }

    .explore__img {
        max-width: 280px;
        max-height: 320px;
    }
}

@media (max-width: 500px) {
    .container h1 {
        font-size: 28px;

        line-height: 30px
    }

    .container p, h4, li {
        font-size: 14px; 

        line-height: 20px
    }

    .btn {
        width: fit-content;
        height: fit-content;

        font-size: 14px;
    
        padding: 6px 15px;
    }

    .header .btn {
        padding: 6px 15px;
    }

    .welcome__text {
        flex-wrap: wrap;
        min-width: fit-content;
    }

    .welcome__subtitle {
        padding: 30px;
    }

    .welcome__img {
        max-width: 320px;
        max-height: 200px;
    }

    .simple .container {
        text-align: center;
        height: fit-content;

        padding: 15px 0;
    }

    .sale__text {
        height: fit-content;
    }
}

